@using System.Text.Encodings.Web
@inject HtmlEncoder encoder
@{
    var codigoInseguro = "<img src='algo.png'/> ";
    var encoded = encoder.Encode(codigoInseguro);
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@encoded
@*
abaixo como exibir codigo html via variavel
@Html.Raw(codigoInseguro)
*@
